<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="main">

<body>
<section layout:fragment="content">
    <div class="card mb-3">
        <div class="card-header">
            <i class="fa fa-area-chart"></i> Drink List
        </div>
        <div class="card-body">
            <table>
                <tr>
                    <td>asdasdasd</td>
                </tr>
            </table>

        </div>
    </div>

</section>
</body>


</html>